@using TB.Kutuphane.Entity
@model OduncKitap

@{
    ViewBag.Title = "Verilen Kitabi Güncelle";
}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Verilen Kitabi Güncelle</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">
                            Anasayfa
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("VerilenKitap","OduncKitap")">
                            Ödünç Kitap Listesi
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Verilen Kitabi Güncelle
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kitap Ekle</h4>
                    <form class="mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Üyeler</label>
                                    <select id="uyeler" class="form-control custom-select">
                                        @foreach (var item in ViewBag.UyelerListesi)
                                        {
                                            if (item.Id == Model.UyeId)
                                            {
                                                <option data-id="@item.Id" selected>@(item.Ad + " " + item.Soyad)</option>
                                            }
                                            else
                                            {
                                                <option data-id="@item.Id">@(item.Ad + " " + item.Soyad)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>kitaplar</label>
                                    <select id="odunKitaplar" class="form-control custom-select">
                                        @foreach (var item in ViewBag.KitaplarListesi)
                                        {
                                            if (item.Id == Model.KitapId)
                                            {
                                                <option data-id="@item.Id" selected>@item.Ad</option>
                                            }
                                            else
                                            {
                                                <option data-id="@item.Id">@item.Ad</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Getireceği Tarih</label>
                                    <input type="date" class="form-control" id="getirecegiTarih"
                                           value="@Model.GetirecegiTarih.ToString("yyyy-MM-dd")"
                                           min="@DateTime.Now.ToString("yyyy-MM-dd")">
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                        <input type="button" id="verilenKitapGuncelle" data-id="@Model.Id" class="btn btn-warning" style="color:black;" value="Güncelle">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>